<% if(employees.length) { %>
<h2 class="text-center">
  Employees <br /><a href="/new" class="btn btn-success"
    >Add Employee <i class="fa fa-plus"></i
  ></a>
</h2>

<table
  style="width: 80%;margin:10px auto;"
  class="table table-striped table-hover"
>
  <thead class="bg-secondary">
    <tr>
      <th class="text-white">Name</th>
      <th class="text-white">Work Phone</th>
      <th class="text-white">Mobile Phone</th>
      <th class="text-white">Home Phone</th>
      <th class="text-white">Email</th>
      <th class="text-white">Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach(employee => { %>
    <tr>
      <td><%= employee.fName %> <%= employee.lName %></td>
      <td><%= employee.phone[0] %></td>
      <td><%= employee.phone[1] %></td>
      <td><%= employee.phone[2] %></td>
      <td><%= employee.email %></td>
      <td><%= employee.createdAt.toISOString().split('T')[0] %></td>
      <td>
        <div class="btn-group">
          <a href="/view/<%= employee._id %>" class="btn btn-info">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %> No entries!
<a href="/new">Add New! <i class="fa fa-plus"></i></a> <% } %>
